.contactpage {
   text-align: center;
   padding: 0 4em;
   margin: 0 auto;
   margin-top: 5em;
   max-width: 1250px;
}

.contactpage h3 {
   color: #333;
}

.contactpage>* {
   margin: 1em;
}

button,
h3 {
   text-transform: uppercase;
   line-height: 1;
}

.addres-wrapper {
   display: flex;
   justify-content: center;
   color: #6e6e6e;
   font-weight: bold;
}

.addres-wrapper i {
   margin-right: 0.5em;
}

.contactpage .company {
   font-size: 2rem;
   color: #111;
}

.contact-form-wrapper {
   margin: 0 auto;
   margin: 3em 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.contact-form-wrapper i {
   font-size: 10rem;
   color: rgb(20, 180, 100);
   margin-right: 0.5em;
}

.contact-form-wrapper form {
   display: flex;
   flex-direction: column;
}

.contact-form-wrapper input {
   margin-bottom: 1em;
   width: 20vw;
   border-radius: 30px;
   padding: 0.75em 1em;
   border: 2px solid #6e6e6e;
}

.contact-form-wrapper input::placeholder {
   font-size: 0.8rem;
   color: #888888;
}

.contact-form-wrapper button {
   width: 100%;
   padding: 0.75em 1em;
   background: linear-gradient(to right, rgb(20, 180, 100), rgb(20, 180, 100, 0.5));
   color: white;
   font-size: 1rem;
}





:root {

   --font-button: 1rem;
   --font-input: 0.8rem;
   --font-icon: 7rem;

}


@media only screen and (max-width: 876px) {

   .contact-form-wrapper {
      flex-direction: column;
   }

   .contact-form-wrapper i {
      margin-bottom: 0.25em;
      margin-right: 0;
      font-size: 5.5rem;
   }

   .contact-form-wrapper input {
      width: 50vw;
   }

}