@import url('compinitial.css');

nav {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   z-index: 2;
   color: var(--color-font);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5em 6.5em;
   width: 65vw;
   margin: 0 auto;
   text-align: center;
   overflow: hidden;

}


nav ul {
   display: flex;
}

nav ul>li+li {
   margin-left: 1em;
}





@media only screen and (max-width: 876px) {
   nav{
      width: 75vw;
      padding: 1.5em 0em;
   }
}
@media only screen and (max-width: 676px) {
   nav{
      width: 90vw;
      padding: 1.5em 0em;
   }
}
@media only screen and (max-width: 476px) {
   nav{
      width: 95vw;
      padding: 1.5em 0em;
   }
}